
table,th,td{
    border:8px solid black;
    width: 100vh;
    position: relative;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-size: 40px;
    text-align: center;
    margin-left: auto;  
    margin-right: auto;  
    background-color:rgb(224, 223, 242) ;
    border-collapse: collapse;
    padding-top: 20px;
}

.btn{
    position: relative;
    top: 12px;
    color: rgb(31, 0, 0);
}
.hs{
    color: rgb(20, 20, 20);
    text-decoration: none;
    top: 10vh;
    position: relative;
    left: 95vh;
    font-size: 30px;
    font-weight: bold;
    background-color: aquamarine;
    border:navajowhite ;
    height: 6vh;
    width: 10vh;
    border-radius: 9px;
    cursor: pointer;
}